body{
    background-color: rgb(218, 196, 151);
}

h1{
    color:rgb(255, 102, 0);
}

.titulo{
    color:rgb(223, 5, 5);
text-align: center;
border:none
}

button{
color: blue;
font: size 100px; ;
}

.imagem-gato{
    width: 400px;
}